        .title{
			color:blue; 
			font-family: 'Lobster', cursive; 
			font-size: 5vw;
		}
		.form-input{
			 border-radius: 16px;
		}

		#submit-button{
			display: block;
			margin-left:auto;
			margin-right: auto;
		}

		.container{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		body {
			background: url(https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581_960_720.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
		}

		.form-input{
			display: block;
			margin-top: 2%;
			text-align: center;
		}