<!DOCTYPE html> 
<html> 

<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='webpage.css')}}">
</head> 


{% block content%}
	<div class="top">
		<p class="title"> COVID SAFETY SEARCH </p>
	</div>

	<form method="POST" id="tickets-form">
		<div class="form-group">
			<div class="form-input">{{form.current_city}}</div>
			<div class="form-input">{{form.destination_location}}</div>
			<div class="form-input">{{form.leave}}</div>
			<div class="form-input">{{form.returning}}</div>
			<div class="form-input btn btn-success">{{form.submit_button}}</div>
		</div>

	</form>
{% endblock %}
</html> 
